doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Pento - Real Estate Mortgage Landing Page HTML Template
  link(rel='icon' type='image/png' href='/assets/img/favicon.png')
  script(type='text/javascript' src='/dist/App.bundle.js')
body
  input(name='sqrfoot' type='number')
  button(value='Predict') Predict