doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/boxicons.min.css')
  link(rel='stylesheet' href='/assets/css/magnific-popup.min.css')
  link(rel='stylesheet' href='/assets/css/owl.carousel.min.css')
  link(rel='stylesheet' href='/assets/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='/assets/css/nice-select.min.css')
  link(rel='stylesheet' href='/assets/css/animate.min.css')
  link(rel='stylesheet' href='/assets/css/dark.css')
  link(rel='stylesheet' href='/assets/css/style.css')
  link(rel='stylesheet' href='/assets/css/responsive.css')
  title Pento - Real Estate Mortgage Landing Page HTML Template
  link(rel='icon' type='image/png' href='/assets/img/favicon.png')
  //- script(type='text/javascript' src='/dist/App.bundle.js')
.loader
  .d-table
    .d-table-cell
      .spinner
nav.navbar.navbar-expand-lg.navbar-light.sticky-top
  a.navbar-brand(href='index.html')
    img.black-logo(src='/assets/img/logo.png' alt='Logo')
    img.white-logo(src='/assets/img/logo-two.png' alt='Logo')
  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link.active(href='#home') Home
      li.nav-item
        a.nav-link(href='#about') About Us
      li.nav-item
        a.nav-link(href='#service') Our Service
      li.nav-item
        a.nav-link(href='#team') Team
      li.nav-item
        a.nav-link(href='#blog') Blog
      li.nav-item
        a.nav-link(href='#contact') Contact
  .side-nav
    a.side-nav-left(href='#') Sign In
    a.side-nav-right(href='#')
      i.bx.bx-link-external
      | Sign Up
#home.two-banner-wrap
  .two-banner-slider.owl-theme.owl-carousel
    .two-banner-area.two-banner-one
      .d-table
        .d-table-cell
          .container
            .banner-content
              span
                img(src='/assets/img/home-two/banner-icon.png' alt='Banner')
                | Welcome To Pento
              h1 Pento Residential Mortgage
              .banner-btn(style='display:flex;flex-direction:row;')
                //- a.cmn-banner-btn(href='#' target='_blank')
                .banner-right-btn
                  input#sqrfoot.form-control(type='number' name='sqrfoot' required='' data-error='Please enter size in square footage' placeholder='Enter size in sqr. footage')
                .cmn-banner-btn#submitBtn
                  i.bx.bx-calculator
                  | Calculator
    .two-banner-area.two-banner-two
      .d-table
        .d-table-cell
          .container
            .banner-content
              span
                img(src='/assets/img/home-two/banner-icon.png' alt='Banner')
                | Welcome To Pento
              h1 Buy A Home By Confidence
              
              .banner-btn
                a.cmn-banner-btn(href='#' target='_blank')
                  i.bx.bx-note
                  | Apply Now
                a.banner-right-btn(href='#' target='_blank')
                  i.bx.bx-calculator
                  | Calculator
    .two-banner-area.two-banner-three
      .d-table
        .d-table-cell
          .container
            .banner-content
              span
                img(src='/assets/img/home-two/banner-icon.png' alt='Banner')
                | Welcome To Pento
              h1 Mortgage Is A Great For You
              .banner-btn
                a.cmn-banner-btn(href='#' target='_blank')
                  i.bx.bx-note
                  | Apply Now
                a.banner-right-btn(href='#' target='_blank')
                  i.bx.bx-calculator
                  | Calculator
  .container-fluid
    .row
      .col-lg-6.p-0
        .banner-time-left
          ul
            li
              i.bx.bx-globe
              span 29-14 Entin inter
              p New York 11105
            li
              i.bx.bx-phone-call
              span (24 hours / 7 days)
              a(href='tel:34212213259') 3421 221 3259
      .col-lg-6.p-0
        .banner-time-right
          ul
            li
              i.bx.bx-timer
              span Mon-Fri (8am - 6pm)
              p Sat-Sun (10am - 2pm)
            li
              i.bx.bxs-contact
              span Contact us 
              a(href='/cdn-cgi/l/email-protection#70030500001f02043000151e041f5e131f1d')
                span.__cf_email__(data-cfemail='c4b7b1b4b4abb6b084b4a1aab0abeaa7aba9') [email&nbsp;protected]
#about.two-mission-area.pt-100
  .container
    .one-section-title
      span.sub-title GET INTRODUCED
      h2 Our Mission Is To Become The Best Mortgage
    .mission-content
      img(src='/assets/img/home-two/mission.jpg' alt='Mission')
      .mission-bottom
        ul.align-items-center
          li
            a.popup-youtube(href='https://www.youtube.com/watch?v=aqz-KE-bpKQ')
              i.bx.bx-play
            p Intro With Compnay
          li
            .mission-item
              i.bx.bxs-user
              span Speak With Loan Officer
          li
            .mission-item
              i.bx.bx-certification
              span Tools Resource
          li
            .mission-item
              i.bx.bxs-hand-right
              span Get Started With Pento
          li
            .mission-item
              i.bx.bxs-home-circle
              span See Home Pricing
.one-counter-area.two-counter-area.pb-70
  .container
    .row
      .col-sm-6.col-lg-3
        .counter-item
          h3 20
          p YEARS OF EXPERIENCE
      .col-sm-6.col-lg-3
        .counter-item
          h3 98
          p VOLUNTEERS PARTICIPATED
      .col-sm-6.col-lg-3
        .counter-item
          h3 56
          p VETERAN HOMES COMPLETED
      .col-sm-6.col-lg-3
        .counter-item
          h3 90
          p CUSTOMER WORLDWIDE
.one-among-area.two-among-area.pt-100.pb-70
  .container
    .one-section-title
      span.sub-title WHY CHOOSE US
      h2 We Have Offer To You
      p
        | Choose started sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore adipiscing elit sed do eiusr adipiscing elitatur liqua
    .row
      .col-sm-6.col-lg-4
        .among-item
          .among-top
            img(src='/assets/img/home-two/among1.png' alt='Among')
            .among-icon
              i.bx.bxs-badge-dollar
          .among-bottom
            h3 Delivering A Great Customer Experience
            p Gain home equity by paying sit amet seeturlit sed dolor se equity 
            a(href='#' target='_blank')
              | READ MORE
              i.bx.bx-right-arrow-alt
      .col-sm-6.col-lg-4
        .among-item
          .among-top
            img(src='/assets/img/home-two/among2.png' alt='Among')
            .among-icon
              i.bx.bx-bulb
          .among-bottom
            h3 Refinancing Your Home No Doubt About Anything
            p Your home equity by paying sit amet seeturlit sed dolor se equity 
            a(href='#' target='_blank')
              | READ MORE
              i.bx.bx-right-arrow-alt
      .col-sm-6.col-lg-4
        .among-item
          .among-top
            img(src='/assets/img/home-two/among3.png' alt='Among')
            .among-icon
              i.bx.bx-money
          .among-bottom
            h3 Have A Superior Power To Unlock The Today&rsquo;s Rate
            p Money rate equity by paying sit amet seeturlit sed dolor se equity 
            a(href='#' target='_blank')
              | READ MORE
              i.bx.bx-right-arrow-alt
      .col-sm-6.col-lg-4
        .among-item
          .among-top
            img(src='/assets/img/home-two/among4.png' alt='Among')
            .among-icon
              i.bx.bx-user
          .among-bottom
            h3 Without A Doubt To Have A Apply For Loan Offer
            p Inquri home equity by paying sit amet seeturlit sed dolor se equity 
            a(href='#' target='_blank')
              | READ MORE
              i.bx.bx-right-arrow-alt
      .col-sm-6.col-lg-4
        .among-item
          .among-top
            img(src='/assets/img/home-two/among5.png' alt='Among')
            .among-icon
              i.bx.bx-message-alt-detail
          .among-bottom
            h3 Consideration Have Been Divided Get Refinance Advisor
            p Divided home equity by paying sit amet seeturlit sed dolor se equity 
            a(href='#' target='_blank')
              | READ MORE
              i.bx.bx-right-arrow-alt
      .col-sm-6.col-lg-4
        .among-item
          .among-top
            img(src='/assets/img/home-two/among6.png' alt='Among')
            .among-icon
              i.bx.bx-home
          .among-bottom
            h3 A Ethical Solution For Future Buying &amp; Selling Home
            p Fuuture home equity by paying sit amet seeturlit sed dolor se equity 
            a(href='#' target='_blank')
              | READ MORE
              i.bx.bx-right-arrow-alt
.two-house-area.pt-100.pb-70
  .container
    .row
      .col-sm-6.col-lg-4
        .house-item
          .house-icon
            i.bx.bx-dollar-circle
          h3 Mortgage Pre-Approval
          p You can grow in your new homeit amet seeturlit sed ew homeew homedolor
          a(href='#' target='_blank')
            | READ MORE
            i.bx.bx-right-arrow-alt
      .col-sm-6.col-lg-4
        .house-item
          .house-icon
            i.bx.bx-shopping-bag
          h3 House Shopping
          p You can grow in your new homeit amet seeturlit sed ew homeew homedolor
          a(href='#' target='_blank')
            | READ MORE
            i.bx.bx-right-arrow-alt
      .col-sm-6.offset-sm-3.offset-lg-0.col-lg-4
        .house-item
          .house-icon
            i.bx.bx-note
          h3 Loan Application
          p You can grow in your new homeit amet seeturlit sed ew homeew homedolor 
          a(href='#' target='_blank')
            | READ MORE
            i.bx.bx-right-arrow-alt
section#service.one-service-area.two-service-area.ptb-100
  .container
    .one-section-title
      span.sub-title WHAT&rsquo;S THE BEST
      h2 Mortgage Programs
      p
        | Experinces started sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore adipiscing elit sed do eiusr adipiscing elitatur liqua
    nav
      #nav-tab.nav.nav-tabs(role='tablist')
        a#nav-home-tab.nav-item.nav-default.active(data-bs-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true')
          .service-item
            i.bx.bxs-building-house
            span Purchase New House
        a#nav-profile-tab.nav-item.nav-default(data-bs-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false')
          .service-item
            i.bx.bxs-dollar-circle
            span Apply For Loan
        a#nav-contact-tab.nav-item.nav-default(data-bs-toggle='tab' href='#nav-contact' role='tab' aria-controls='nav-contact' aria-selected='false')
          .service-item
            i.bx.bxs-home-circle
            span Refinancing Your Home
        a#nav-x-tab.nav-item.nav-default(data-bs-toggle='tab' href='#nav-x' role='tab' aria-controls='nav-x' aria-selected='false')
          .service-item
            i.bx.bxs-hand-up
            span Capital Management
        a#nav-y-tab.nav-item.nav-default(data-bs-toggle='tab' href='#nav-y' role='tab' aria-controls='nav-y' aria-selected='false')
          .service-item
            i.bx.bxs-wrench
            span Renovation House
        a#nav-z-tab.nav-item.nav-default(data-bs-toggle='tab' href='#nav-z' role='tab' aria-controls='nav-z' aria-selected='false')
          .service-item
            i.bx.bxs-user-circle
            span Refinance Advisor
    #nav-tabContent.tab-content
      #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
        .service-advisor
          .row.align-items-center
            .col-lg-6
              .advisor-img
                img(src='/assets/img/home-one/advisor.jpg' alt='Advisor')
            .col-lg-6
              .advisor-content
                h2 Purchase New House
                p
                  | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
                ul
                  li
                    i.bx.bxs-chevrons-right
                    | Respect for all people
                  li
                    i.bx.bxs-chevrons-right
                    | Excellence in everything we do
                  li
                    i.bx.bxs-chevrons-right
                    | Truthfulness in our business
                  li
                    i.bx.bxs-chevrons-right
                    | Unquestionable integrity
                .advisor-link
                  a(href='#' target='_blank')
                    | READ MORE
                  i.bx.bx-right-arrow-alt
      #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab')
        .service-advisor
          .row.align-items-center
            .col-lg-6
              .advisor-img
                img(src='/assets/img/home-one/advisor2.jpg' alt='Advisor')
            .col-lg-6
              .advisor-content
                h2 Apply For Loan
                p
                  | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
                ul
                  li
                    i.bx.bxs-chevrons-right
                    | Respect for all people
                  li
                    i.bx.bxs-chevrons-right
                    | Excellence in everything we do
                  li
                    i.bx.bxs-chevrons-right
                    | Truthfulness in our business
                  li
                    i.bx.bxs-chevrons-right
                    | Unquestionable integrity
                .advisor-link
                  a(href='#' target='_blank')
                    | READ MORE
                  i.bx.bx-right-arrow-alt
      #nav-contact.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab')
        .service-advisor
          .row.align-items-center
            .col-lg-6
              .advisor-img
                img(src='/assets/img/home-one/advisor3.jpg' alt='Advisor')
            .col-lg-6
              .advisor-content
                h2 Refinancing Your Home
                p
                  | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
                ul
                  li
                    i.bx.bxs-chevrons-right
                    | Respect for all people
                  li
                    i.bx.bxs-chevrons-right
                    | Excellence in everything we do
                  li
                    i.bx.bxs-chevrons-right
                    | Truthfulness in our business
                  li
                    i.bx.bxs-chevrons-right
                    | Unquestionable integrity
                .advisor-link
                  a(href='#' target='_blank')
                    | READ MORE
                  i.bx.bx-right-arrow-alt
      #nav-x.tab-pane.fade(role='tabpanel' aria-labelledby='nav-x-tab')
        .service-advisor
          .row.align-items-center
            .col-lg-6
              .advisor-img
                img(src='/assets/img/home-one/advisor4.jpg' alt='Advisor')
            .col-lg-6
              .advisor-content
                h2 Capital Management
                p
                  | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
                ul
                  li
                    i.bx.bxs-chevrons-right
                    | Respect for all people
                  li
                    i.bx.bxs-chevrons-right
                    | Excellence in everything we do
                  li
                    i.bx.bxs-chevrons-right
                    | Truthfulness in our business
                  li
                    i.bx.bxs-chevrons-right
                    | Unquestionable integrity
                .advisor-link
                  a(href='#' target='_blank')
                    | READ MORE
                  i.bx.bx-right-arrow-alt
      #nav-y.tab-pane.fade(role='tabpanel' aria-labelledby='nav-y-tab')
        .service-advisor
          .row.align-items-center
            .col-lg-6
              .advisor-img
                img(src='/assets/img/home-one/advisor5.jpg' alt='Advisor')
            .col-lg-6
              .advisor-content
                h2 Renovation House
                p
                  | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
                ul
                  li
                    i.bx.bxs-chevrons-right
                    | Respect for all people
                  li
                    i.bx.bxs-chevrons-right
                    | Excellence in everything we do
                  li
                    i.bx.bxs-chevrons-right
                    | Truthfulness in our business
                  li
                    i.bx.bxs-chevrons-right
                    | Unquestionable integrity
                .advisor-link
                  a(href='#' target='_blank')
                    | READ MORE
                  i.bx.bx-right-arrow-alt
      #nav-z.tab-pane.fade(role='tabpanel' aria-labelledby='nav-z-tab')
        .service-advisor
          .row.align-items-center
            .col-lg-6
              .advisor-img
                img(src='/assets/img/home-one/advisor6.jpg' alt='Advisor')
            .col-lg-6
              .advisor-content
                h2 Refinance Advisor
                p
                  | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
                ul
                  li
                    i.bx.bxs-chevrons-right
                    | Respect for all people
                  li
                    i.bx.bxs-chevrons-right
                    | Excellence in everything we do
                  li
                    i.bx.bxs-chevrons-right
                    | Truthfulness in our business
                  li
                    i.bx.bxs-chevrons-right
                    | Unquestionable integrity
                .advisor-link
                  a(href='#' target='_blank')
                    | READ MORE
                  i.bx.bx-right-arrow-alt
.two-address-area.pt-100
  .container
    .one-section-title
      span.sub-title GET ADDRESS
      h2 Here Is Our Roadmap
    .row
      .col-lg-6
        .address-item
          img(src='/assets/img/home-two/address1.jpg' alt='Address')
          ul
            li
              a(href='#' target='_blank')
                i.bx.bxs-home
            li
              a(href='#' target='_blank')
                i.bx.bx-street-view
            li
              a(href='#' target='_blank')
                i.bx.bxs-graduation
            li
              a(href='#' target='_blank')
                i.bx.bxs-folder-open
          h3 You&rsquo;re In Right Place!
          p
            | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
      .col-lg-6
        .address-item
          img(src='/assets/img/home-two/address2.jpg' alt='Address')
          ul
            li
              a(href='#' target='_blank')
                i.bx.bxs-home
            li
              a(href='#' target='_blank')
                i.bx.bx-street-view
            li
              a(href='#' target='_blank')
                i.bx.bxs-graduation
            li
              a(href='#' target='_blank')
                i.bx.bxs-folder-open
          h3 You Can See The Map
          p
            | Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit
  .one-quote-area
    .container
      .row.m-0
        .col-lg-6.p-0
          .quote-content
            h3 Get Mortgage Quote
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing eltsed do eiusmod tempor incididunt ut labore et dolore
            a(href='#' target='_blank')
              i.bx.bxs-quote-alt-right
              | Get A Quote
        .col-lg-6.p-0
          .quote-img
            img(src='/assets/img/home-one/quote.jpg' alt='Quote')
#team.one-team-area.two-team-area.pb-70
  .container
    .one-section-title
      span.sub-title OUR TEAM
      h2 Our Staff Profiles
      a(href='#' target='_blank')
        i.bx.bx-plus
        | JOIN TEAM
    .row
      .col-sm-6.col-lg-3
        .team-item
          .team-img
            img(src='/assets/img/home-one/team1.png' alt='Team')
          ul
            li
              a(href='#')
                i.bx.bxl-facebook
            li
              a(href='#')
                i.bx.bxl-twitter
            li
              a(href='#')
                i.bx.bxl-instagram
            li
              a(href='#')
                i.bx.bxl-linkedin
          h3 David Driscoll
          span Manager
      .col-sm-6.col-lg-3
        .team-item
          .team-img
            img(src='/assets/img/home-one/team2.png' alt='Team')
          ul
            li
              a(href='#')
                i.bx.bxl-facebook
            li
              a(href='#')
                i.bx.bxl-twitter
            li
              a(href='#')
                i.bx.bxl-instagram
            li
              a(href='#')
                i.bx.bxl-linkedin
          h3 Andon wardin
          span Loan Officer
      .col-sm-6.col-lg-3
        .team-item
          .team-img
            img(src='/assets/img/home-one/team3.png' alt='Team')
          ul
            li
              a(href='#')
                i.bx.bxl-facebook
            li
              a(href='#')
                i.bx.bxl-twitter
            li
              a(href='#')
                i.bx.bxl-instagram
            li
              a(href='#')
                i.bx.bxl-linkedin
          h3 Mark morrell
          span Area Manager
      .col-sm-6.col-lg-3
        .team-item
          .team-img
            img(src='/assets/img/home-one/team4.png' alt='Team')
          ul
            li
              a(href='#')
                i.bx.bxl-facebook
            li
              a(href='#')
                i.bx.bxl-twitter
            li
              a(href='#')
                i.bx.bxl-instagram
            li
              a(href='#')
                i.bx.bxl-linkedin
          h3 JUBIN INDONA
          span Accountant
section.one-help-area.two-help-area
  .container-fluid.p-0
    .row.m-0
      .col-lg-7.p-0
        .help-item
          .one-section-title
            span.sub-title FUN FACT
            h2 There Is Some Fact That You Know
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          ul
            li
              .help-icon
                i.bx.bx-brain
              .help-inner
                h3 Loan Officer Assistant do?
                p When you own your own homet seeturlit sed dolor sit am
            li
              .help-icon
                i.bx.bx-home-alt
              .help-inner
                h3 RMS is Working Harder 
                p You can grow in your new homeit amet seeturlit sed dolor sit 
          .advisor-link
            a(href='#' target='_blank')
              | KNOWLEDGE CENTER
            i.bx.bx-right-arrow-alt
      .col-lg-5.p-0
        .help-img-two
          img(src='/assets/img/home-two/fun.jpg' alt='Fun')
section.two-lover-area.pt-100.pb-70
  .container
    .one-section-title
      span.sub-title COUSTOMER FEEDBACKS
      h2 What People Say
    .row
      .col-lg-6
        .lover-item
          ul.align-items-center
            li
              .lover-img
                img(src='/assets/img/home-two/lover1.png' alt='Lover')
                i.bx.bxs-quote-alt-left
            li
              .lover-content
                h3 Donney Jon
                span Perisian Org
                p
                  | I had ipsum dolor sit a consetusicing elit sed do eiusmod mpor nnim ad mini eiusmod nnim
                ul
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
      .col-lg-6
        .lover-item
          ul.align-items-center
            li
              .lover-img
                img(src='/assets/img/home-two/lover2.png' alt='Lover')
                i.bx.bxs-quote-alt-left
            li
              .lover-content
                h3 Oli Rubion
                span Entoin Ect
                p
                  | Realy ipsum dolor sit a consetusicing elit sed do eiusmod mpor nnim ad mini eiusmod nnim
                ul
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star.checked
                  li
                    i.bx.bxs-star
.one-faq-area.two-faq-area.pb-70
  .container
    .row.align-items-center
      .col-lg-5
        .faq-img-two
          img(src='/assets/img/home-two/faq.jpg' alt='FAQ')
      .col-lg-7
        .faq-content
          ul.accordion
            li
              a How do you qualify for a loan?
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam
            li
              a A Good Lender Will Clearly Explain Mortgage?
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam
            li
              a Can You Get A Mortgage Without A Credit Score?
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam
            li
              a How Much Home Can You Afford?
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam
#contact.one-contact-area.two-contact-area.ptb-100
  .container
    .contact-content
      .one-section-title
        span.sub-title LET&rsquo;S CONTACT
        h2 Contact With Us
      form#contactForm
        .row
          .col-sm-6.col-lg-6
            .form-group
              label
                i.bx.bx-user
              input#name.form-control(type='text' name='name' required='' data-error='Please enter your name' placeholder='Name')
              .help-block.with-errors
          .col-sm-6.col-lg-6
            .form-group
              label
                i.bx.bx-mail-send
              input#email.form-control(type='email' name='email' required='' data-error='Please enter your email' placeholder='Email')
              .help-block.with-errors
          .col-sm-6.col-lg-6
            .form-group
              label
                i.bx.bx-phone-call
              input#phone_number.form-control(type='text' name='phone_number' required='' data-error='Please enter your number' placeholder='Phone')
              .help-block.with-errors
          .col-sm-6.col-lg-6
            .form-group
              label
                i.bx.bxs-edit-alt
              input#msg_subject.form-control(type='text' name='msg_subject' required='' data-error='Please enter your subject' placeholder='Subject')
              .help-block.with-errors
          .col-md-12.col-lg-12
            .form-group
              label
                i.bx.bx-message-square-detail
              textarea#message.form-control(name='message' cols='30' rows='8' required='' data-error='Write your message' placeholder='Message')
              .help-block.with-errors
          .col-md-12.col-lg-12
            .row.m-0
              .col-sm-4.col-lg-4.pl-0
                button.contact-btn.btn(type='submit')
                  i.bx.bx-plus
                  | Send Message
                #msgSubmit.h3.text-center.hidden
                .clearfix
              .col-sm-8.col-lg-8
                .contact-emergency
                  i.bx.bx-phone-call
                  span Emergency Contact
                  a(href='tel:+44554348554') +445 543 48554
#blog.one-blog-area.two-blog-area.pt-100.pb-70
  .container
    .one-section-title
      span.sub-title NEWS &amp; BLOG
      h2 Featured News And Insights
    .row
      .col-sm-6.col-lg-4
        .blog-item
          .blog-top
            a(href='#' target='_blank')
              img(src='/assets/img/home-one/blog1.jpg' alt='Blog')
            span Mortgage
          .blog-bottom
            ul
              li
                i.bx.bx-time-five
                | 09 April 2020
              li
                i.bx.bx-comment-detail
                | 0 Comment
            h3
              a(href='#' target='_blank') What Means Your Mortgage And 5 Ways To Improve
            img(src='/assets/img/home-one/blog1.png' alt='Blog')
            p
              a(href='#' target='_blank') Zain jonson
              | , Author
      .col-sm-6.col-lg-4
        .blog-item
          .blog-top
            a(href='#' target='_blank')
              img(src='/assets/img/home-one/blog2.jpg' alt='Blog')
            span Mortgage
          .blog-bottom
            ul
              li
                i.bx.bx-time-five
                | 10 April 2020
              li
                i.bx.bx-comment-detail
                | 0 Comment
            h3
              a(href='#' target='_blank') 8 Ways To Make Your Home A Smart Home
            img(src='/assets/img/home-one/blog2.png' alt='Blog')
            p
              a(href='#' target='_blank') Movin Jex
              | , Author
      .col-sm-6.offset-sm-3.offset-lg-0.col-lg-4
        .blog-item
          .blog-top
            a(href='#' target='_blank')
              img(src='/assets/img/home-one/blog3.jpg' alt='Blog')
            span Mortgage
          .blog-bottom
            ul
              li
                i.bx.bx-time-five
                | 11 April 2020
              li
                i.bx.bx-comment-detail
                | 0 Comment
            h3
              a(href='#' target='_blank') 5 Ways To build Yourself By Hard Working
            img(src='/assets/img/home-one/blog3.png' alt='Blog')
            p
              a(href='#' target='_blank') Jems
              | , Author
section.one-subscribe-area.two-subscribe-area.ptb-100
  .container
    .row
      .col-md-12
        .subscribe-wrap
          .row.align-items-center
            .col-lg-6
              h2 Do you want to get update what&rsquo;s upcoming?
            .col-lg-6
              form.newsletter-form(data-toggle='validator')
                input.form-control(type='email' placeholder='Enter your email' name='EMAIL' required='' autocomplete='off')
                button.btn.subscribe-btn(type='submit')
                  | Subscribe now
                #validator-newsletter.form-result
.one-search-area.ptb-100
  .container
    .search-wrap
      .search-content
        .one-section-title
          span.sub-title SERCH YOUR ONE
          h2 Find A Loan Officer
        form
          .form-check
            input#exampleRadios1.form-check-input(type='radio' name='exampleRadios' value='option1' checked='')
            label.form-check-label(for='exampleRadios1')
              | Real Estate Agents
          .form-check
            input#exampleRadios2.form-check-input(type='radio' name='exampleRadios' value='option2')
            label.form-check-label(for='exampleRadios2')
              | Loan Officer
          .row
            .col-lg-4
              .form-group
                input.form-control(type='text' placeholder='First Name')
            .col-lg-4
              .form-group
                input.form-control(type='text' placeholder='Last Name')
            .col-lg-4
              .form-group
                select.form-control
                  option License State
                  option Another option
                  option A option
                  option Potato
          .search-link
            button.btn(type='submit') Search Your Result
      .search-img
        img(src='/assets/img/home-one/search-man.png' alt='Search')
footer.one-footer-area.pt-100
  .container
    .row
      .col-sm-6.col-lg-3
        .footer-item
          .footer-logo
            a(href='#')
              img(src='/assets/img/logo-two.png' alt='Logo')
            p
              | Pento Financial Services, Inc. 200 Wood Avenue South, Ninth Floor Iselin, NJ 65432
            p Resouece Financial ServicInc. 200 Wood Avenue South
            ul
              li
                a(href='#' target='_blank')
                  i.bx.bxl-facebook
              li
                a(href='#' target='_blank')
                  i.bx.bxl-twitter
              li
                a(href='#' target='_blank')
                  i.bx.bxl-linkedin
              li
                a(href='#' target='_blank')
                  i.bx.bxl-instagram
      .col-sm-6.col-lg-3
        .footer-item
          .footer-quick
            h3 Quick Links
            ul
              li
                a(href='#' target='_blank') Mortgage Calculator
              li
                a(href='#' target='_blank') Mortgage Checklist
              li
                a(href='#' target='_blank') Mortgage Glossary
              li
                a(href='#' target='_blank') Renting vs Owning
              li
                a(href='#' target='_blank') Credit Basics
              li
                a(href='#' target='_blank') Disaster Relief Center
              li
                a(href='#' target='_blank') Disclosure
              li
                a(href='#') Home Disclosure Notice
      .col-sm-6.col-lg-3
        .footer-item
          .footer-quick
            h3 About Us
            ul
              li
                a(href='#' target='_blank') Down Payment Options
              li
                a(href='#' target='_blank') Your Mortgage Payment
              li
                a(href='#' target='_blank') Appraisal Basics
              li
                a(href='#' target='_blank') Contact
              li
                a(href='#' target='_blank') Careers
              li
                a(href='#' target='_blank') Privacy Policy
              li
                a(href='#' target='_blank') Privacy Choices
              li
                a(href='#' target='_blank') Licencing
      .col-sm-6.col-lg-3
        .footer-item
          .footer-address
            h3 Address
            ul
              li
                i.bx.bx-phone-call
                a(href='tel:+4498886660000') +449 888 666 0000
              li
                i.bx.bx-phone-call
                a(href='tel:+5498586560350') +549 858 656 0350
              li
                i.bx.bx-message-square-detail
                a(href='/cdn-cgi/l/email-protection#fc9499909093bc8c99928893d29f9391')
                  span.__cf_email__(data-cfemail='e28a878e8e8da292878c968dcc818d8f') [email&nbsp;protected]
              li
                i.bx.bx-message-square-detail
                a(href='/cdn-cgi/l/email-protection#8fe6e1e9e0cfffeae1fbe0a1ece0e2')
                  span.__cf_email__(data-cfemail='a4cdcac2cbe4d4c1cad0cb8ac7cbc9') [email&nbsp;protected]
              li
                i.bx.bx-current-location
                | 855 road, broklyn street new york 600
              li
                i.bx.bx-planet
                | Pento is not acting behalf the Federal Government
    .copyright-area
      .row.align-items-center
        .col-lg-6
          .copyright-item
            ul
              li
                a(href='#' target='_blank')
                  img(src='/assets/img/home-one/visa.jpg' alt='Method')
              li
                a(href='#' target='_blank')
                  img(src='/assets/img/home-one/master-card.jpg' alt='Method')
              li
                a(href='#' target='_blank')
                  img(src='/assets/img/home-one/paypal.jpg' alt='Method')
              li
                a(href='#' target='_blank')
                  img(src='/assets/img/home-one/skrill.jpg' alt='Method')
              li
                a(href='#' target='_blank')
                  img(src='/assets/img/home-one/master-card2.jpg' alt='Method')
              li
                a(href='#' target='_blank')
                  img(src='/assets/img/home-one/visa2.jpg' alt='Method')
        .col-lg-6
          .copyright-item
            p
              | &copy; Nofa is Proudly Owned by 
              a(href='https://hibootstrap.com/' target='_blank') HiBootstrap
.dark-version
  label#switch.switch
    input#slider(type='checkbox' onchange='toggleTheme()')
    span.slider.round
script(data-cfasync='false' src='/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/bootstrap.bundle.min.js')
script(src='/assets/js/jquery.magnific-popup.min.js')
script(src='/assets/js/owl.carousel.min.js')
script(src='/assets/js/jquery.nice-select.min.js')
script(src='/assets/js/jquery.ajaxchimp.min.js')
script(src='/assets/js/form-validator.min.js')
script(src='/assets/js/contact-form-script.js')
script(src='/assets/js/jquery.mixitup.min.js')
script(src='/assets/js/custom.js')
